.music-element{
    width: 500px;
    max-width: 100%;
    padding: 10px 5px;
}

.music-element .music{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
    max-width: 65%;
    overflow: clip;
}

.music-element .title{
    /* padding-left: 15px; */
}

.music-element audio{
    background: var(--primary);
    vertical-align: bottom;
}

.music-element .image{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    max-width: 30%;
}
.music-element .image img{
    aspect-ratio: 1/1;
    max-width: 100%;
    width: 100px;
    object-fit: cover;
}
